*.komodoproject


# Backup files created while building from source
*.accdb

# Database lock files
*.laccdb

# Comment out the following line if you wish to include the log files in git.
*.log

*.accda